*{
    margin: 0;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 80px;
    background-color: #0fa3f7;
    margin-bottom: 30px;
}
header .container{
    color: #fff;
    box-sizing: border-box;
    padding: 19px 0px;
    display: flex;
    justify-content:space-between;
}
header .container h1{
    font-family: -webkit-pictograph;
}
header .container h1 i{
    margin-right: 10px;
    color:#f7c200;
}
header .container form input{
    background: transparent;
    border: 1px solid #fff;
    padding: 10px 10px;
    outline: none;
    color: #fff;
    font-size: 14px;
}
header .container #add_location{
    border:1px solid #fff;
    background-color: transparent;
    color:#fff;
    padding:10px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
}
header .container #add_location:hover{
    background-color: #fff;
    color:#000;
}
header .container #add_location i{
    margin-right: 10px;
}

.content{
    display:flex;
    flex-wrap: wrap;
}
.content .card{
    width: 490px;
    box-sizing: border-box;
    background-color: rgba(15, 163, 247, 0.7);
    padding: 20px;
    margin: 0 20px 20px 0;
    border-radius:5px;
    font-family: system-ui;
}
.content .card:nth-of-type(2n+0){margin-right: 0;}
.content .card .title{
    width: 100%;
    display:flex;
    justify-content:space-between;
}
.content .card .title h2{
    font-size: 25px;
}
.content .card .title i{
    color: #fff;
    cursor: pointer;
}
.content .card .title i:hover{
    opacity:60%;
}
.content .card .info{
    display: flex;
    justify-content: space-between;
}
.content .card .info .temperature{
    font-size: 50px;
    padding-top:50px;
}
.content .card .info figure img{
    display: block;
    margin: 0 auto;
}
.content .card .info figure figcaption{
    font-size: 20px;
    text-align: center;
}